
body {
  background: hsl(210, 60%, 98%);
}

.container-notification-panel {
  margin: 0 auto;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  background: pink;
}

a {
  text-decoration: none;
  color: black;
  /* background: hsl(211, 68%, 94%);
  width: 80%;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  margin: 6px; */
  }

  a:hover {
    background: hsl(212, 68%, 90%);
    cursor: pointer;
  }

  a:active {
    background: gray;
  }

  a:visited {
    background: white;
  }

.header-notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.header-notification-panel h2 {
  font-weight: 800;
}

.header-notif-panel span {
  background-color: #1c202b;
  border-radius: 5px;
  color: white;
  padding: 0px 10px;
}

.minimal-btn {
  opacity: 50%;
}

.notification {
  background: hsl(211, 68%, 94%);
  width: 80%;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  margin: 6px;
}

.notification img {
  width: 40px;
  height: 100%;
  margin-right: 10px;
}

.notification p {
  margin: 3px;
}

.notification span {
  font-weight: 800;
}

.message {
  margin-top: 8px;
}


.message {
  border: 1px solid black;
}

.minimal-btn:hover {
  cursor: pointer;
  font-weight: bold;
}
