
body {
  background: hsl(210, 60%, 98%);
}

ul {
  list-style: none;
}

strong {
  color: hsl(220, 2%, 36%);
}

i {
  color: #080887;
  font-weight: 800;
}

.notification-panel {
  margin: 0 auto;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  background: white;
}

.notification {
  background: rgb(223, 243, 224);
  width: 80%;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  margin: 6px;
}

.read {
  background: white;
}

.notification-read {
  background: lightgreen;
}

.notification img {
  width: 40px;
  height: 100%;
  margin-right: 10px;
}

.notification p {
  margin: 3px;
}

.notification span {
  font-weight: 800;
}

a {
  text-decoration: none;
  color: black;
  /* background: hsl(211, 68%, 94%);
  width: 80%;
  border-radius: 8px;
  padding: 12px;
  display: flex;
  align-items: center;
  margin: 6px; */
  }

  a:hover {
    background: hsl(212, 68%, 90%);
    cursor: pointer;
  }


.header-notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.header-notification h2 {
  font-weight: 800;
}

.header-notification span {
  background-color: hsl(219, 85%, 26%);
  border-radius: 5px;
  color: white;
  padding: 0px 10px;
}

.minimal-btn {
  opacity: 50%;
}


.message {
  margin-top: 8px;
}


.message {
  border: 1px solid rgba(0, 0, 0, 0.228);
  padding: 15px;
  border-radius: 4px;
}

.minimal-btn:hover {
  cursor: pointer;
  font-weight: bold;
}
